.search {
    background-color: #ffffff5d ;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;

} 
input{
    border: none !important;
    text-align: center;  
    color: #03045e !important;
    font-weight: bolder !important;
}
input::placeholder {
    color: #03045e !important;
}
.button-enviar{
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.3rem;
    border: none;
    color: white;
    background-color: #4361ee;
    font-size: 1.1rem;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}
.button-enviar:hover{
    background-color: #023e8a;
}
.mensagem{
    font-size: 3rem;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    text-align: center;
}
