.container_background {
    background-image: url('../../assets/background_3.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: brightness(90%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service {
    padding: 2rem;
    margin: 2.1rem;
    background-color: rgba(240, 248, 255, 0.637);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.3s ease-in-out;
}
.service:hover{
    transform: scale(1.1);
}
.icon {
    height: 4rem;
    margin-bottom: 3rem;
}
.service_title{
    text-align: center;
    color: #03045e;
    font-weight: bold;
}