.footer {
  background: #d0d8ff;
  padding-top: 10px !important;
  padding-bottom: 1px !important;
  justify-content: center;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-icons {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center;
}

.footer-icons li {
  margin-right: 1rem;
  font-size: 1rem;
}

.footer-icons li:hover {
  color: #302ce9;
}